@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap');

body {
  background-color: rgb(32, 32, 32);
  color: aliceblue;
  font-family: "Work Sans";
}


/* unvisited link */
a:link {
  color: rgb(245, 98, 0);
}

/* visited link */
a:visited {
  color: rgb(245, 98, 0);
}


.avatars {
  width: 200px;
  border-radius: 50%;
}