body {
  background-color: rgb(32, 32, 32);
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* unvisited link */
a:link {
  color: rgb(245, 98, 0);
}

/* visited link */
a:visited {
  color: rgb(245, 98, 0);
}
